html {
    font-size: 62.5%;
}

body {
    background: rgb(59,16,16);
    background: linear-gradient(90deg, rgba(59,16,16,1) 0%, rgba(37,19,48,1) 64%, rgba(11,19,87,1) 100%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.weather__app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    height: 40rem;
    width: 75rem;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(15,15,43,1) 71%, rgba(3,3,40,1) 100%);
    box-shadow: 0px 2px 80px -20px rgba(0,0,0,0.5);
    margin: 0 auto;
  }

  .container {
    max-width: 75rem;
    margin: 0 auto;
}

  .row {
    display: flex;
  }
  
  .info {
    height: 40rem;
    width: 30rem;
    background: url("img/3.gif") center center no-repeat;
    background-color: #2e2b2b;
    background-size: cover;
    border: 2px solid #1f1f1f;
    border-right: 2px solid #131e29;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
  }
  
  .form {
    height: 40rem;
    padding-top: 5rem;
    padding-left: 3rem;
    border-top: 2px solid #113a65;
    border-bottom: 2px solid #113a65;
    border-right: 2px solid #113a65;
  }
  
  input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #ffffff;
    width: 50%;
    padding-bottom: 4px;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 3rem;
    margin-right: 2rem;
    font-size: 2rem;
    outline: none;
  }
  
  input::-webkit-input-placeholder {
    color: #ffffff;
  }
  
  input::-moz-placeholder {
    color: #ffffff;
  }
  
  button {
    border: 2px solid #103a65;
    border-bottom: 4px solid #103a65;
    padding: 0.8rem 2rem;
    margin: 0 0.2rem;
    border-radius: 2px;
    cursor: pointer;
    background-color: #235d9c;
    color: #fff;
    outline: none;
    font-family: inherit;
  }
  
  button:hover {
    border-bottom: 2px solid #103a65;
    position: relative;
    top: 0.2rem;
  }
  
  button:active {
    border-bottom: 2px solid transparent;
    border-color: transparent;
    position: relative;
    top: 0.2rem;
  }
  
  .info h2 {
    font-size: 2.3em;
    color: #fff;
  }
  
  .info p {
    color: #e4e4e4;
    font-weight: bold;
  }
  
  .infoWeath {
    font-size: 2rem;
    color: #fff;
  }
  
  .error {
    color: #8b0505;
    font-weight: bold;
  }
